.chat{
    flex:.65;
    display: flex;
    flex-direction: column;
}
.chat-header{
padding: 20px;
display: flex;
align-items: center;
border-bottom: 1px solid lightgrey;
}
.chat-header-info{
flex: 1;
padding-left: 20px;
}
.chat-header-info>p{
    margin-bottom: 3px;
    font-weight: 500;
    color:grey;
}

.chat-header-right{
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.chat-body{
    flex: 1;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-position: center;
  overflow:scroll;
  padding: 30px;
  background-repeat: repeat;
}
.chat-message{
    position: relative;
    font-size:16px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    width: fit-content;
    min-width: 80px;
    margin-bottom: 30px;
}
.chat-reciever{
    margin-left: auto;
    background-color: #dcf8c6;
}
.chat-name{
    position: absolute;
    top:-15px;
    font-size: xx-small;
    font-weight: 800;
   
}
.time-stamp{
    margin-left: 40px;
    font-size:xx-small;
    
}
.chat-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    border-top: 1px solid lightgray;
}
.chat-footer>form{
    flex: 1;
    display: flex;
}
.chat-footer>form>input{
    flex: 1;
    border-radius: 30px;
    border: none;
    padding: 10px;
}
.chat-footer>form>button{
    display: none;
}
.chat-footer>MuiSvgIcon-root{
    padding: 10px;
    color: grey;
}