.icon-left{
    position: absolute;
    top: 10px;
    left:10px;

}

.icon-right{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.season-details{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.season-details.winter{       
     color: blue;
}
.season-details.summer{
    color: red;
}
.winter{
    background-color: aqua;
}

.summer{
    background-color: rgb(128, 79, 45);
}